//logo
.logo-img-wrapper {
  min-height: 2.1rem;
}

.logo-img {
  width: 180px;
  @include min-break-point(tablet) {
    width: 200px;
  }
}

//resume-img
.heading-img-wrapper {
  min-height: 11rem;
}

.heading-img {
  margin-top: 3rem;
  width: 105px;
}

//body
.info {
  margin-top: 3rem;
  max-width: 35rem;
  font-size: 20px;
  text-align: left;
  line-height: 1.8rem;
  @include min-break-point(tablet) {
    text-align: center;
    line-height: 2rem;
  }
}
